/* Base settings for body to ensure full coverage and centering */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/addition-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Center container for holding content in the middle */
.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    /* Takes up all available space */
}

/* Headers with common styles extracted */
.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-style: italic;
    padding: 10px;
}

/* Specific header modifications */
.header--large {
    font-size: 150%;
    text-shadow: 2px 2px 4px #000000;
}

.header--medium {
    font-size: 120%;
    text-shadow: 2px 2px 4px #000000;
}

.header--small {
    font-size: 120%;
    text-shadow: 2px 2px 4px #000000;
}

/* Formatted forms for input groups */
.formatted-form {
    border-radius: 50px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    /* Maximum width to prevent too wide forms on larger screens */
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Inputs within the form with general and specific styles */
.form-input {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 100%;
    /* Use available space */
}

/* Button styles for actions */
.nice-button {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 10px;
    bottom: 20px;
}

/* Return home link styling */
.return-home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #FFA500;
    font-style: italic;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    /* Closer to the bottom */
    right: 10px;
    cursor: pointer;
    text-decoration: underline;
}