.form-input {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 100%;
    /* Use available space */
}

.form-button-Register {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 100%;
    /* Use available space */
}

.disable-Register {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 100%;
}

.pretty-log {
    border: #000000;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 12px;
    border-radius: 15px;
    color: #000000;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 110%;
    justify-content: center;



}

.pretty-log:hover {
    border: #000000;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 110%;


}
.disable {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 4px #FFFFFF;
    width: 100%;
 }
 

.Header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
    justify-content: center;
    font-style: italic;
    padding: 10px;
}

.Header2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
    justify-content: center;
    font-style: italic;
    padding: 10px;
}

 .return-login {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
     color: #FFFFFF;
     text-shadow: 2px 2px 4px #FFA500;
     font-style: italic;
     padding: 10px;
     position: fixed;
     top: 40px;
     right: 20px;
 }

  .return-home {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      display: flex;
      color: #FFFFFF;
      text-shadow: 2px 2px 4px #FFA500;
      font-style: italic;
      padding: 10px;
      position: fixed;
      top: 60px;
      right: 20px;
  }


  .valid {
      color: green;
  }

  .invalid {
      color: red;
  }

  .hide {
    visibility: hidden;
  }

  .instructionsReg {
      font-size: 0.9rem;
      color: #FFFFFF;
      text-shadow: 1px 1px 2px #000000;
  }

  .offscreen {
      position: absolute;
      left: -9999px;
  }